html, body{
    height: 100%; 
    width: 100%;
    padding: 0;
    margin: 0;
}

.fon{
    position: relative;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: 50px; 
    
}

#root{
    position: relative;
    width: 600px;

}


#root .header{
    background-color: rgb(87, 128, 240);;
    height: 100px;
    width: 100%;
}

#root .employeesList{
    background-color: silver;
    min-height: 100px;
    width: 100%;
}

#root .footer{
    background-color: rgb(105, 100, 100);
    height: 50px;
    width: 100%;
}